#sticky-sidebar{
    background-color: lightgray;
    color: black !important;
}

#board-container{
    background-image: url("/assets/images/wood-background.png") ;
    background-size: 100%;
    min-height: 500px;
}
#advisor-container{
    background-image: url("/assets/images/stone-background.png") ;
}
#start-game{
    padding-top: 10px;
    min-height: 200px;
}
.container{
    border: 2px solid black;
    border-radius: 10px;
    background-color: blanchedalmond;
    padding: 5px;
}

.card-group{
    margin: 5px;
}
.card-group p{
    font-size: 20px;
    font-weight: bold;
}
.card{
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin: 5px;
    width: 230px;
}
#big-card{
    width: 400px;
}

.icon{
    max-width: 30px;
    max-height: 30px;
}

.btn-icon{
    width: 50px;
    height: 50px;
}


.big-button{
    display: flex;
    width: 100%;
}

.btn-res-choice{
    background-color: #bbb;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}