html,
body{
    background-color: lightblue;
    height: 100%;
    width: 99%;
}

footer{
    margin-top: 5px;
}
#sticky-sidebar{
    margin-top: 55px;
    background-color: lightgray;
    color: black !important;
}

#board-container{
    margin-top: 55px;
    padding-top: 15px;
    background-image: url("/assets/images/backgrounds/wood-background.png") ;
    background-size: 100%;
    min-height: 500px;
    max-height: 700px;
    /* overflow: hidden; 
    overflow-y: scroll; */
}

#advisor-container{
    background-image: url("/assets/images/backgrounds/stone-background.png") ;
    max-height: 700px;
    
}
#start-game{
    margin-top: 10px;
    padding-top: 10px;
    min-height: 200px;
}
.container{
    border: 2px solid black;
    border-radius: 10px;
    background-color: blanchedalmond;
    padding: 5px;
}

.card-group{
    margin: 5px;
}
.card-group p{
    font-size: 20px;
    font-weight: bold;
}
.card{
    background-image: url("/assets/images/backgrounds/marble-background.png") ;
    text-align: center;
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 1px;
    margin: 1px;
    width: 230px;
    max-height: 200px;
    position:relative;
    overflow:hidden;
}
.card-body{
    
    padding: 1px;
}
/* #big-card{
    width: 400px;
} */

.card-img-top{
    max-width: 200px;
    max-height: 100px;
}

.icon{
    max-width: 30px;
    max-height: 30px;
}

.btn-icon{
    width: 50px;
    height: 50px;
}

.adv-icon{
    width: 150px;
    height: 75px;
}

.btn-res-choice,
.btn-die-choice,
.btn-choice
{
    background-color: #bbb;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

button:disabled,
button[disabled]{
    border: 1px solid white;
    background-color: #ebebeb;
    color: #9c9c9c;
}

.clicked,
.building-clicked,
.advisor-clicked,
.advisor-clicked-locked{
    background-color: rgb(40, 73, 218);
    border: 2px solid beige;
    color: white;
}

.advisor-dice{
    position:absolute;
    width:55%;
    left: 10%;  
    top: 10%;
}

.use-advisor,
.use-building{
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bolder;
    background-color: burlywood;
    padding: 5px;
}

.use-building .col-md-2{
    text-align: center;
    
    font-size: 30px;
}